html {
    background-color: #e2f7df;
}

body{
    margin: 0;
}

.header{
    height: 60px;
    background-image: url(images/header.jpg);
    font-family: 'Montserrat', sans-serif;
    color: #16381e;
    background-size: cover;
}

.logo{
    height: 56px;
    background-color: #16381e;
    margin-top: 2px;
    vertical-align: middle;
}

.logo:hover{
    background-color: #cc0605;
}

.container{
    max-width: 75%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #16381e;

}
.main-menu {
    font-size: 1em;
    font-weight: bold;
    padding: 0px;
    
}


.main-menu a {
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #16381e;
    vertical-align: middle;
}

.right{
    text-align: right;
}

.main-menu a:hover{
    transition: color 0.5s;
    color: #cc0605;
}

.name {
    text-transform: uppercase;
}
main p {
    text-align: justify;
}

table, tr, td{
    width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    border: 1px solid #595959;
}

td{
    width: 33,3%;
}

.avatar{
    height: 350px;
    text-align: center;
    margin: 3rem 0;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar img {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    text-decoration: none;
    color: #16381e;
    font-weight: bold;
    border: 2px solid #16381e;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    transition: color 0.5s, border-color 0.5s;
    color: #cc0605;
    border-color: #cc0605;
}

.contact-me-btn {
    border-color: #16381e;
    font-size: 1.2rem;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #16381e;
}
.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: #16381e;
}

.w-50 {
    max-width: 50%;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.footer{
    background-color: #16381e;
    padding: 10px 0;
    
    width: 100%;
}

.footer p{
    color: #e2f7df;
}

